<div class="container mt-3">
    <div class="jumbotron">
        {{> formulario}}
        {{> historico}}
    </div>
</div>
<div class="container mt-3">
    <div class="jumbotron">
        {{> formEmail}}
        {{> historialMensajes}}
        {{> formMensaje}}
    </div>
</div>